body, html {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif; /* thay font-display */

  background-color: #f8f5f5; /* màu nền sáng */
  height: 100%;
}

body.dark-mode {
  background-color: #121212; /* màu nền tối */
}

/* link reset default */
a {
  text-decoration: none;
  color: inherit;
}

/* nút chung */
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}
